*{
    margin: 0;
    padding: 0;
}

body{
    background-color: chocolate;
}


.box{
    border: 5px double black;
    background-color: rgba(83, 83, 83,0.2);
    margin:2%;
    padding:5px;
    text-align: center;
}

.buttonStart{
    transform: translateX(450px);
    height: 50px;
    width: 80px;
    border-style: inherit;
    border-radius: 5px;
    border-style: ridge; 
    font-size:large;
    

   
}
.winner{
    background-image: url(-2147483648_-211767.jpg);
    height: 1050px;
    width: 1000px;
    margin: 0;
}

.Losser{
    background-image: url(-2147483648_-211776.jpg);
    height: 1050px;
    width: 1000px;
    
}
